{% extends "messenger/index.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    {% if logged_in %}
        <p>You are already logged in as {{ current_user.name }}.</p>
        <p><a href="{% url 'conversations' %}">Go to conversations</a></p>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            <label>Name:</label>
            <input type="text" name="name" required>
            <br>
            <label>Password</label>
            <input type="password" name="password" required>
            <br>
            <button type="submit">Login</button>
        </form>

        <p>
            <a href="{% url 'register' %}">Register</a>
        </p>
    {% endif %}
{% endblock %}